.container {
  position: relative;
  background-image: url('../../assets/Gardening.png');
  background-repeat: no-repeat;
  height: 100vh;
}

.header {
  padding-bottom: 1em;
  padding-left: 0.3em;
}

.main {
  padding-right: 1em;
  display: grid;
  column-gap: 1em;
  height: 50em;
  overflow: scroll;
}

@media (max-width: 375px) {
  .main {
    height: 35em;
  }
}

@media (min-height: 668px) {
  .main {
    height: 45em;
  }
}

.main::-webkit-scrollbar {
  display: none;
}

.main__detailLink {
  text-decoration: none;
  color: var(--secondary-text-color);
}
