.sideNav__button {
  background-color: transparent;
  font-family: var(--font-family);
  font-size: 3em;
  font-weight: 300;
  border: none;
  color: var(--primary-text-color);
  display: flex;
  justify-content: start;
  padding-left: 0.3em;
}

.sideNav__button:focus {
  color: var(--secondary-text-color);
  transition: 365ms;
}

.sideNav__button_active {
  font-family: var(--font-family);
  font-size: 3em;
  font-weight: 300;
  border: none;
  color: var(--secondary-text-color);
  background-color: transparent;
}

.sideNav__menu {
  height: 12em;
  width: 13em;
  display: flex;
  justify-content: start;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  border-radius: 0 0 5em 0;
}

.sideNav__menu_active {
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  left: 0;
  transition: 650ms;
  height: 12em;
  width: 14em;
  border-radius: 0 0 5em 0;
  padding-left: 0.3em;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.sideNav__menu_items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2em;
}

.sideNav__menu_items a {
  text-decoration: none;
  color: var(--secondary-text-color);
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 1.5em;
  padding-left: 0.35em;
}

.sideNav__menu_items a:focus {
  color: var(--secondary-color);
  transform: scale(1.2, 1.2);
  transition: 890ms;
}
