.newPlantNote {
  height: 8.938rem;
}
.newTaskDescription {
  height: 18em;
  background-color: var(--primary-color);
  resize: none;
}

.newPlantNote,
.newTaskDescription {
  width: 100%;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.35);
  border-width: 0;
  font-family: var(--font-family);
  font-weight: 300;
  color: var(--primary-text-color);
  font-size: 1.25rem;
  padding: 1rem 1rem;
  border-radius: 1em 1em 1.875rem 1em;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

::placeholder {
  color: var(--primary-text-color);
}

.newPlantNote::-webkit-scrollbar,
.newTaskDescription::-webkit-scrollbar {
  display: none;
}

@media (max-width: 375px) {
  .newPlantNote {
    height: 6em;
  }
  .newTaskDescription {
    height: 16em;
  }
}

@media (min-height: 668px) {
  .newTaskDescription {
    height: 22em;
  }
}

@media (min-height: 926px) {
  .newTaskDescription {
    height: 28em;
  }
}
