.container {
  background-image: url('../../assets/cover.png');
  background-repeat: no-repeat;
  height: 100vh;
}

.title {
  text-decoration: none;
  color: var(--primary-text-color);
  display: flex;
  justify-content: flex-end;
  font-size: 3.438rem;
  font-family: var(--font-family);
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 300;
}
