.container {
  background-image: url('../../assets/cover_iPhone_12.png');
  background-repeat: no-repeat;
  height: 100vh;
}

.header__title {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 3.438rem;
  font-weight: 300;
  margin: 0;
  padding: 0.5em 0 0.25em 0.3em;
}

.main {
  display: grid;
  grid-template-columns: 4% 43% 3% 48%;
  grid-template-rows: 4% 22% 15% 26%;
}

@media (max-width: 375px) {
  .main {
    display: grid;
    grid-template-columns: 4% 43% 3% 48%;
    grid-template-rows: 2% 14% 14% 22% 31%;
  }

  .container {
    overflow: hidden;
  }
}

@media (min-height: 668px) {
  .main {
    display: grid;
    grid-template-columns: 4% 43% 3% 48%;
    grid-template-rows: 4% 22% 16% 28% 31%;
  }
}

.main__newPlant {
  grid-column: 4;
  grid-row: 2;
}
.main__plantList {
  grid-column: 2;
  grid-row: 3;
}
.main__newTask {
  grid-column: 3;
  grid-row: 4;
}
.main__gardening {
  grid-column: 2;
  grid-row: 5;
}

.accent {
  color: var(--accent-color);
}
