.container {
  position: relative;
  background-image: url('../../assets/leaf.png');
  background-repeat: no-repeat;
  height: 100vh;
}

.header {
  padding-bottom: 1em;
  padding-left: 0.3em;
}

.article {
  display: grid;
  grid-template-columns: 4% 1.5% 89% 5.5%;
  grid-template-rows: 40% 10% 10% 10% 10% 26%;
}

.article__label {
  width: 100%;
  height: 16.375em;
  background-color: var(--background-desktop-color);
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.35);
  border-radius: 0 7rem 0 0;
  grid-column: 3;
  grid-row: 1;
  overflow: hidden;
}

.article__file {
  display: none;
}

.article__image {
  width: 100%;
}

.article__inputName {
  grid-column: 3;
  grid-row: 2;
}

.article__sowing {
  grid-column: 3;
  grid-row: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1em;
}
.article__sowing_line {
  background-color: var(--background-desktop-color);
  width: 3em;
  height: 0.3em;
  border-radius: 0.5em;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.35);
}
.article__place {
  grid-column: 3;
  grid-row: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1em;
}
.article__perennial {
  grid-column: 3;
  grid-row: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1em;
}

.article__inputNote {
  grid-column: 3;
  grid-row: 6;
}

.article__submitButton {
  display: flex;
  justify-content: space-around;
  grid-column: 3;
  grid-row: 7;
}

h3 {
  font-family: var(--font-family);
  font-size: 1.3em;
  font-weight: 300;
}
