@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* Fonts */
  --font-family: 'Roboto', sans-serif;

  /* Colors */
  --primary-color: #90a686;
  --secondary-color: #334338;
  --primary-text-color: #000;
  --secondary-text-color: #fff;
  --background-color: #e9efed;
  --background-desktop-color: #fff;
  --accent-color: #f9c452;

  /* Sizes */
  font-size: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-family);
  color: var(--primary-text-color);
  background-color: var(--background-desktop-color);
}
