.newPlant {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  width: 12.5rem;
  height: 12.5rem;
  line-height: 12.5rem;
  border-radius: 100%;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.35);
  font-size: 2.3rem;
  font-family: var(--font-family);
  font-weight: 300;
}

.plantList {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
  width: 10.8rem;
  height: 10.8rem;
  line-height: 10.8rem;
  border-radius: 100%;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.35);
  font-size: 2.3rem;
  font-family: var(--font-family);
  font-weight: 300;
}

.newTask {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
  width: 13.25rem;
  height: 13.25rem;
  line-height: 13.25rem;
  border-radius: 100%;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.35);
  font-size: 2.3rem;
  font-family: var(--font-family);
  font-weight: 300;
}

.gardening {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  width: 14rem;
  height: 14rem;
  line-height: 14rem;
  border-radius: 100%;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.35);
  font-size: 2.3rem;
  font-family: var(--font-family);
  font-weight: 300;
}

.accent {
  color: var(--accent-color);
}

@media (max-width: 375px) {
  .newPlant {
    width: 10rem;
    height: 10rem;
    line-height: 10rem;
    font-size: 1.9rem;
  }
  .plantList {
    width: 9rem;
    height: 9rem;
    line-height: 9rem;
    font-size: 1.9rem;
  }
  .newTask {
    width: 11rem;
    height: 11rem;
    line-height: 11rem;
    font-size: 1.9rem;
  }
  .gardening {
    width: 12rem;
    height: 12rem;
    line-height: 12rem;
    font-size: 1.9rem;
  }
}
