.container {
  position: relative;
  background-image: url('../../assets/cover_iPhone_12.png');
  background-repeat: no-repeat;
  height: 100vh;
}

.header {
  padding: 0.5em 0 1em 0.3em;
}

.form {
  display: grid;
  gap: 1em;
  padding: 1em;
}

.form__button {
  display: flex;
  justify-self: center;
}

.form__select {
  padding: 0.3em;
  border-radius: 1em;
  border: none;
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
}

@media (max-width: 375px) {
  .container {
    overflow: hidden;
  }
}

@media (min-height: 668px) {
  .container {
    overflow: hidden;
  }
}
@media (min-height: 926px) {
  .container {
    overflow: hidden;
  }
}
